@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 230px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: flex;
    /*position: relative;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    /*padding-bottom: 400px;   from float*/
    background-color: #000000;
  }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
            order: 2;
    /*from flex*/
    position: relative;
    /*position: absolute;
                            bottom: 0;  from float*/
    width: 100%;
    height: 400px;
    background-color: rgba(245, 65, 65, 0.5);
    /*background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;

    @media @retina {
      background-image: url("../img/bg-header@2x.jpg");
      background-size: 1338px auto;
    }*/
  }
  .page-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;
    width: 370px;
    height: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .page-header__logo img {
    bottom: 438px;
  }
}
.main-nav {
  position: relative;
  /*width: 320px;*/
  width: auto;
  /*from flex*/
  /*margin: 0 auto;  from float*/
  min-height: 51px;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 49px;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list,
.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list {
  font-weight: bold;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background-color: red;
  /*background-image: url("../img/icon-login.png");
    background-position:;
    opacity: 0.3;*/
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-list {
    display: none;
  }
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  height: 80vh;
  background-color: #6a4d38;
}
.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 7px;
  height: 100%;
  box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.main-nav--no-js .main-nav__wrapper {
  position: static;
  height: auto;
}
.main-nav--no-js .main-nav__item {
  display: block;
}
.main-nav--no-js .main-nav__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.main-nav--no-js .main-nav__user-list {
  display: block;
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    /*.container();*/
    width: auto;
    /*flex*/
    /*.clearfix();  from float*/
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: flex;
    /*float: left;*/
    flex-wrap: wrap;
    /*width: 570px;  from float*/
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .main-nav__user-list {
    /*float: right;   from float*/
    width: 60px;
  }
  .main-nav__item {
    /*float: left;*/
    margin-right: 32px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826550;
  }
  .main-nav__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .main-nav__item a[href]:hover {
    color: #826550;
    background-color: black;
  }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: black;
    opacity: 0.3;
  }
  .main-nav__user-login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
    /*&:hover::before {
      background-position: ;
      opacity: 1;
    }*/
    /*&:active::before {
      background-color: brown;
      background-position: ;
      opacity: 0.3;
    }*/
  }
  .main-nav__user-login::before {
    top: 29px;
    left: 12px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 84%;
    /* 640px / 768px ~= 84% */
    max-width: 1200px;
    /* 960px / 0.84 ~= 1142px
    (центровка начнется чуть раньше 1200px)*/
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .main-nav__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
  .main-nav__user-list {
    width: auto;
    max-width: 160px;
  }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    /*&:active::before {
      background-position: ;
      opacity: 0.1;
    }*/
  }
  .main-nav__user-login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__user-login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .main-nav__user-login:hover::before {
    /*background-position: ;*/
  }
  .main-nav__user-login::before {
    left: 15px;
  }
}
.stats {
  width: auto;
  /*flex*/
  /*.container();  float*/
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    /* 640px / 768px ~= 84% */
    max-width: 1200px;
    /* 960px / 0.84 ~= 1142px
    (центровка начнется чуть раньше 1200px)*/
    margin: 0 auto;
  }
}
.stats__header {
  padding: 0 38px;
  padding-top: 27px;
  padding-bottom: 26px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}
.stats__legend--top {
  display: none;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3) {
  background-color: #353535;
}
.stats__list tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -175px;
  }
  .stats__header {
    /*.clearfix();  float*/
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    padding: 31px 40px;
    padding-bottom: 24px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stats__slogan {
    /*float: left;*/
    width: 50%;
    /*flex*/
    /*width: 280px;
                                padding-left: 40px;  float*/
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__intro {
    /*float: right;*/
    width: 37.5%;
    /*flex*/
    /*width: 210px;  float*/
    padding: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left;
  }
  .stats__legend--top {
    /*float: left;*/
    display: block;
    /*clear: left;
                                          width: 280px;*/
    width: 50%;
    /*flex*/
    /*padding-left: 40px;  float*/
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list {
    /*.clearfix();  float*/
    display: block;
  }
  .stats__list tbody {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    display: block;
    box-sizing: border-box;
    /*float: left;
                                            width: 250px;  float*/
    width: 50%;
    /*flex*/
    /*or
    flex-basis: 250px;
    flex-grow: 1;
    будет тянуться на всю шир.,
    когда нечетное кол-во (один на строке)*/
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    /*.clearfix();  float*/
    display: -webkit-box;
    display: flex;
    margin-top: -159px;
  }
  .stats__header {
    /*float: left;  float*/
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 240px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    /*float: none;*/
    width: auto;
    /*padding-left: 0;  float*/
    margin-bottom: 42px;
    font-size: 30px;
  }
  .stats__intro {
    /*float: none;  float*/
    width: auto;
    margin-bottom: 32px;
    padding: 0;
  }
  .stats__legend--top {
    /*float: none;*/
    width: auto;
    /*padding-left: 0;  float*/
    margin-top: auto;
    /*flex*/
  }
  .stats__list {
    /*float: right;*/
    display: -webkit-box;
    display: flex;
    /*display: block;  float*/
    -webkit-box-flex: 1;
            flex-grow: 1;
    /*при изменении высоты slogan,
    intro также подстраиваются по высоте*/
    width: 640px;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #292929;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
}
.slider {
  margin-bottom: 30px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f7f4f1;
  text-align: center;
  background-color: rgba(245, 65, 65, 0.2);
  /*temp*/
}
.advantages__list h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}
.advantages__list p {
  margin: 0;
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 26px;
}
.advantages__item {
  position: relative;
  /*margin-bottom: 23px;*/
  padding: 0 44px;
  padding-top: 125px;
  /*trmp*/
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  background-color: red;
  /*background-image: url("../img/icon-login.png");*/
}
.advantages__item--fast {
  /*background-position:;*/
}
.advantages__item--cool {
  /*background-position:;*/
}
.advantages__item--expensive {
  /*background-position:;*/
}
.advantages__item:nth-child(n+2) {
  display: none;
}
@media (max-width: 767px) {
  .advantages__item {
    padding-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 42px;
  }
  .slider {
    margin-bottom: 35px;
  }
  .slider::after {
    bottom: -35px;
    height: 43px;
    background-image: linear-gradient(6deg, #f8f5f2 30%, transparent 30%), linear-gradient(-6deg, #f8f5f2 30%, transparent 30%);
  }
  .advantages__list {
    text-align: left;
  }
  .advantages__item {
    margin: 0 30px;
    margin-bottom: 42px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 130px;
    border-bottom: 1px solid #4a4a4a;
  }
  .advantages__item::before {
    top: 9px;
    left: 0;
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    padding-top: 75px;
  }
  .slider {
    margin-bottom: 65px;
  }
  .slider::after {
    bottom: -65px;
    height: 65px;
    background-image: linear-gradient(7deg, #f8f5f2 32%, transparent 32%), linear-gradient(-7deg, #f8f5f2 32%, transparent 32%);
  }
  .advantages__list {
    display: table;
    width: 100%;
    text-align: center;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
    border-bottom: none;
    border-right: 1px solid #4a4a4a;
  }
  .advantages__item::before {
    top: 0;
    left: 114px;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .advantages__item:last-child {
    border-right: none;
  }
}
.news {
  color: #000000;
  background-color: #f8f5f2;
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 28px;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}
@media (min-width: 768px) {
  .news__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
  }
}
.news__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  position: relative;
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px solid #e5ddd5;
}
.news__item p {
  margin: 0;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(2) {
  margin-bottom: 0;
  border: none;
}
.news__date {
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 53px;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  background: #000000;
}
.news__date b {
  display: block;
  font-size: 30px;
  line-height: 30px;
}
.news__date::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(20deg, #f8f5f2 35%, transparent 35%), linear-gradient(-20deg, #f8f5f2 35%, transparent 35%);
}
.btn {
  padding: 15px 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
.news__to-all {
  display: block;
  width: auto;
  color: #000000;
  background-color: #f8f5f2;
  border: 1px solid #e5ddd5;
}
@media (min-width: 768px) {
  .news {
    padding-bottom: 33px;
  }
  .news__wrapper {
    position: relative;
    padding: 0;
    padding-top: 50px;
  }
  .news__title {
    margin-right: 350px;
    margin-bottom: 55px;
    font-size: 40px;
    text-align: left;
  }
  .news__list {
    font-size: 0;
    padding-bottom: 36px;
  }
  .news__item {
    display: inline-block;
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    vertical-align: top;
    border-bottom: none;
  }
  .news__item p {
    margin: 0;
  }
  .news__to-all {
    position: absolute;
    top: 42px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .news {
    padding-bottom: 32px;
  }
  .news__wrapper {
    padding-top: 62px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .news__to-all {
    top: 50px;
  }
}
.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 28px;
  min-height: 285px;
  background-color: rgba(245, 65, 65, 0.7);
  /*temp*/
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}
.reviews__title {
  min-height: 30px;
  margin-bottom: 28px;
  background-color: rgba(111, 179, 222, 0.9);
  /*temp*/
}
.reviews__list {
  background-color: rgba(111, 179, 222, 0.9);
}
.reviews__item {
  min-height: 135px;
  margin: 0 20px;
  background-color: rgba(245, 239, 65, 0.5);
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 35px;
    padding-bottom: 65px;
    background-color: rgba(245, 239, 65, 0.7);
    /*temp*/
  }
  .reviews__wrapper {
    padding: 0;
  }
}
.pr-html {
  box-sizing: border-box;
}
*,
*:before,
:after {
  box-sizing: inherit;
}
.pr-bd {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  background: #ffffff;
}
table {
  border-collapse: collapse;
}
.price {
  margin: 50px 0;
  padding: 40px 20px;
  color: #ffffff;
  background-color: #353535;
  box-shadow: 0 0 5px #666666;
}
.price__header {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.price__table {
  display: block;
  font-size: 20px;
  line-height: 27px;
}
.price__table tbody {
  display: block;
}
.price__table tr {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.price__table td {
  display: block;
  padding: 0 5px;
}
.price__table .col-1 {
  display: none;
}
.price__table .col-2 {
  padding-left: 0;
  font-weight: bold;
}
.price__table .col-3 {
  -webkit-box-ordinal-group: 5;
          order: 4;
  width: 100%;
  padding-left: 0;
}
.price__table .col-4 {
  padding-right: 0;
}
.price__discount {
  position: relative;
  height: 90px;
  margin-top: 25px;
  padding: 30px 10px;
  padding-left: 110px;
  border: 2px solid #5e5e5e;
}
.price__discount::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 57px;
  height: 57px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #ffffff;
  border-radius: 50%;
}
@media (min-width: 700px) {
  .price__inner {
    width: 640px;
    margin: auto;
  }
  .price__header {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left;
  }
  .price__table {
    display: table;
    width: 100%;
  }
  .price__table tbody {
    display: table-row-group;
  }
  .price__table tr {
    display: table-row;
  }
  .price__table td {
    display: table-cell;
    padding: 12px 19px;
    vertical-align: top;
    border: 2px solid #5e5e5e;
  }
  .price__table .col-1 {
    display: table-cell;
    width: 70px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
  .price__table .col-2 {
    padding: 12px 19px;
  }
  .price__table .col-3 {
    width: auto;
    padding: 12px 19px;
  }
  .price__table .col-4 {
    min-width: 160px;
    padding: 12px 19px;
  }
  .price__table .bracket {
    display: none;
  }
  .price__discount {
    height: 120px;
    margin-top: 10px;
    padding: 45px 10px;
    padding-left: 105px;
    font-size: 30px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .price__discount::before {
    left: 27px;
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 1040px) {
  .price__inner {
    width: 960px;
  }
  .price__header {
    padding-left: 70px;
  }
  .price__columns {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .price__table {
    width: 630px;
  }
  .price__discount {
    width: 270px;
    height: auto;
    margin: 0;
    padding: 10px 50px;
    padding-top: 190px;
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
    font-weight: normal;
  }
  .price__discount::before {
    top: 25px;
    left: 50%;
    width: 140px;
    height: 140px;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
