.advantages__wrapper {
  .container ();

  padding-top: 30px;
  background-color: @bg-darkgrey;
}

.slider {
  // position: relative;

  margin-bottom: 30px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -30px;
  //
  //   width: 100%;
  //   height: 30px;
  //   background-image: linear-gradient(10deg, #f8f5f2 35%, black 35%),
  //                     linear-gradient(-10deg, #f8f5f2 35%, black 35%);
  // }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: #f7f4f1;
  text-align: center;

  h3 {
    margin: 0;
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    margin-bottom: 27px;

    font-size: 20px;
    line-height: 26px;
  }


  background-color: rgba(245, 65, 65, 0.2);
  /*temp*/
}

.advantages__item {
  position: relative;
  /*margin-bottom: 23px;*/
  padding: 0 44px;
  padding-top: 125px;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 95px;
    height: 95px;

    background-color: red;
    /*background-image: url("../img/icon-login.png");*/
  }

  // background-color: rgba(245, 239, 65, 0.3);
  /*trmp*/
}

.advantages__item--fast {
  /*background-position:;*/
}
.advantages__item--cool {
  /*background-position:;*/
}
.advantages__item--expensive {
  /*background-position:;*/
}

.advantages__item:nth-child(n+2) {
  display: none;
}

@media @mobile-widths-only {
  .advantages__item {
    padding-bottom: 23px;
    }
}


@media @tablet-widths {
  .advantages__wrapper {
    padding-top: 42px;
  }

  .slider {
    margin-bottom: 35px;

    &::after {
      bottom: -35px;

      height: 43px;
      background-image: linear-gradient(6deg, #f8f5f2 30%, transparent 30%),
                        linear-gradient(-6deg, #f8f5f2 30%, transparent 30%);
    }
  }

  .advantages__list {
    text-align: left;
  }

  .advantages__item {
    margin: 0 30px;
    margin-bottom: 42px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 130px;

    border-bottom: 1px solid #4a4a4a;

    &::before {
      top: 9px;
      left: 0;
    }
  }

  .advantages__item:nth-child(n+2) {
    display: block;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

@media @desktop-widths {

  .advantages__wrapper {
    padding-top: 75px;
  }

  .slider {
    margin-bottom: 65px;

    &::after {
      bottom: -65px;

      height: 65px;
      background-image: linear-gradient(7deg, #f8f5f2 32%, transparent 32%),
                        linear-gradient(-7deg, #f8f5f2 32%, transparent 32%);
    }
  }

  .advantages__list {
    display: table;
    width: 100%;

    text-align: center;
  }

  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;

    border-bottom: none;
    border-right: 1px solid #4a4a4a;

    &::before {
      top: 0;
      left: 114px;
    }
  }

  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }

  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .advantages__item:last-child {
    border-right: none;
  }
}
