.page-header__logo {
  height: 85px;
  text-align: center;
}

.page-header__logo img {
  width: 230px;
  height: 85px;
}


@media @tablet-widths {
  .page-header {
    display: flex;
    flex-direction: column;

    background-color: #000000;
  }

  .page-header__logo {
    order: 2;

    position: relative;

    width: 100%;
    height: 400px;

    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -39px;
    background-size: cover;

    @media @retina {
      background-image: url("../img/bg-header@2x.jpg");
      background-size: 1338px auto;
    }
  }

  .page-header__logo img {
      position: absolute;
      top: 40px;
      left: 50%;

      width: 370px;
      height: auto;

      transform: translateX(-50%);
  }

  .page-header__logo--corner {

    height: 213px;

    &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 50%;
    height: 40px;
    background-image:
    linear-gradient(to right top, #f8f5f2 50%, transparent 50%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 50%;
    height: 40px;
    background-image:
    linear-gradient(to left top, #f8f5f2 50%, transparent 50%);
    }
  }
}

@media @desktop-widths {
  .page-header__logo {
    height: 648px;

    background-position: center 0px;
    background-size: cover;
  }

  .page-header__logo img {
    top: 55px;
  }

  .page-header__logo--corner {

    height: 307px;

    &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 50%;
    height: 65px;
    background-image:
    linear-gradient(to right top, #f8f5f2 50%, transparent 50%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 50%;
    height: 65px;
    background-image:
    linear-gradient(to left top, #f8f5f2 50%, transparent 50%);
    }
  }
}
