.page-footer__wrapper {
  .container();

  padding-top: 35px;
  padding-bottom: 25px;

  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

.page-footer__contacts {
  position: relative;
  padding: 0 55px;
  margin-bottom: 105px;

  b {
    display: inline-block;
    padding-bottom: 14px;
  }

  &-hidden {
    display: none;
  }

  &-link {
    position: absolute;
    display: block;

    left: 20px;
    right: 20px;
    margin-top: 20px;
    padding: 15px 70px;

    color: #ffffff;
    outline: 1px solid #3e3e3e;
    outline-offset: -1px;
  }

  &-link:hover {
    outline-color: #545454;
  }

  &-link:active {
    opacity: 0.3;
    outline: none;
    background: #252525;
  }
}

.page-footer__social {
  margin-bottom: 30px;
}

.social-links {
  display: block;
  font-size: 0;
}

.social-link {
  display: inline-block;

  width: 105px;
  height: 100px;
  vertical-align: top;
  text-decoration: none;
  background: transparent url("../img/social-sprite.png") no-repeat;

  outline: 1px solid #3e3e3e;
  outline-offset: -1px;

  &:hover {
    outline-color: #545454;
  }
}

.social-link--vk {
  background-position: -8px -15px;

  &:active {
    opacity: 0.3;
    outline: none;
    // background: #252525;
  }
}
.social-link--fb {
  background-position: -5px -285px;

  &:active {
    opacity: 0.3;
    outline: none;
    // background: #252525;
  }
}
.social-link--inst {
  background-position: -13px -145px;
  // margin-left: -1px;

  &:active {
    opacity: 0.3;
    outline: none;
    // background: #252525;
  }
}

.page-footer__copyright {
  display: block;
  margin: 0;

  &-link {
    display: block;
    margin: 0 20px;
    margin-top: 15px;
    padding: 15px 0;

    color: #ffffff;
    outline: 1px solid #3e3e3e;
    outline-offset: -1px;
  }

  &-link:hover {
    outline-color: #545454;
  }

  &-link:active {
    opacity: 0.3;
    outline: none;
    background: #252525;
  }
}


@media @tablet-widths {
  .page-footer__wrapper {
    position: relative;

    padding-bottom: 60px;
  }

  .page-footer__contacts {
    position: static;
    padding: 0;
    margin-bottom: 50px;

    text-align: left;

    b {
      display: inline-block;
      padding-bottom: 14px;
    }

    &-hidden {
      display: inline-block;
      text-transform: none;
    }

    &-link {
      position: static;
      display: block;

      margin-top: 2px;
      padding: 0;

      font-weight: 400;
      text-align: left;
      outline: none;
      cursor: text;
    }

    &-link:hover {
      outline: none;
    }

    &-link:active {
      opacity: 1;
      outline: none;
      background: transparent;
    }
  }

  .page-footer__social {
    margin: 0;
  }

  .social-links {
    display: block;
    font-size: 0;
  }

  .social-link {
    width: 213px;
  }

  .social-link--vk {
    background-position: 45px -13px;
    }
  .social-link--fb {
    background-position: 49px -282px;
  }
  .social-link--inst {
    background-position: 40px -145px;
  }



  .page-footer__copyright {
    position: absolute;
    top: 50px;
    right: 0;

    display: block;
    margin: 0;

    &-link {
      display: block;
      margin: 0;
      margin-top: 15px;
      padding: 15px 30px;
    }
  }
}


@media @desktop-widths {
  .page-footer__wrapper {
    .clearfix();

    padding-top: 50px;
  }

  .page-footer__contacts {
    display: inline-block;
    float: left;
    width: 340px;
    margin-right: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-footer__social {
    float: left;
    width: 170px;
  }

  .social-links {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  .social-link {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    margin-left: -1px;

    font-size: 0;
    background: transparent url("../img/social-s-sprite.png") no-repeat;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-link--vk {
    background-position: -3px -5px;
    }
  .social-link--fb {
    background-position: 0 -122px;
  }
  .social-link--inst {
    background-position: -5px -61px;
  }


  .page-footer__copyright {
    float: right;
  }
}
