.reviews__wrapper {
  .container();

  padding-top: 27px;
  padding-bottom: 28px;

  min-height: 285px;
  background-color: rgba(245, 65, 65, 0.7);
  /*temp*/
}
 .reviews__title {
   min-height: 30px;
   margin-bottom: 28px;

   background-color: rgba(111, 179, 222, 0.9);
   /*temp*/
 }

 .reviews__list {
   background-color: rgba(111, 179, 222, 0.9);
 }

 .reviews__item {
   min-height: 135px;

   margin: 0 20px;

   background-color: rgba(245, 239, 65, 0.5);
 }


@media @tablet-widths {
  .reviews {
    padding-top: 35px;
    padding-bottom: 65px;

    background-color: rgba(245, 239, 65, 0.7);
    /*temp*/
  }

  .reviews__wrapper {
    padding: 0;
  }
}
